

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: url("../images/fog_forest.jpg");
    margin-top: 0px;
    border-top: 3px solid #dddddd;
}  

.navbar {
    border-bottom: 2px solid #eeff41;
}


a#tab {
    margin-left: 15%;
    text-align: center;
    width: 20%;
    min-width: 180px;
    height: 90px;
    padding-top: 25px;
    color: white;
    font-size: 30px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;  
}


a#contact {
    border: none;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}



h2 {
    color: #4aaaa5;
}

.card {
    margin-top: 20px;
    margin-bottom: 70px;
    min-width: 200px;
}

.photo {
    width: 40%;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.icon {
    margin: 20px;
}

#message {
    height: 300px;
}

.work {
    position: relative;
    float: left;
    width: 250px;
    margin: 20px 0 25px;
    overflow: auto;
  }

.dog {
    width: 100%;
    border: 0 none;
}

.work h3 {
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    border-bottom: none;
    background-color: #4aaaa5;
    padding: 10px;
    opacity: 50%;
}
  
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2E2E2E;
    color: white;
    text-align: center;
    border-top: 2px solid #eeff41;
    font-size: 10px;
}